body{
    margin: 0;
   background-color: rgba(251, 250, 247, 1);
    font-family: 'Times New Roman', Times, serif;
    
}
main{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    margin-bottom: -100px;
}
.push{
    height: 100px;
}
.navbar{
    overflow: hidden;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0, .1);
    position: sticky;
    top: 0;
    z-index: 29;
    height: 32px;
}
.nav-content{

    width: 100%;
    position: relative;
}
.shopping-bag{
    position: absolute;
    right: 16px;
    top: 6px;
}
.menu-header{
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    opacity: .8;
    
    margin-bottom: 16px;
}



.ad-1 p{
    opacity: 0;
    color: #000;
    margin: 0;
    padding: 8px;
    font-weight: 400;
    animation: ad-1 15s infinite; 
    font-size: 12px;
}
.ad-2 p{
    font-size: 12px;
    opacity: 0;
    padding: 8px;
    color: #000;
    margin: 0;
    font-weight: 400;
    overflow: hidden;
    position: absolute;
    top: 0;   
    animation: ad-2 15s infinite; 
}
@keyframes ad-1 {
    0% { opacity: 0;}
    25%{ opacity: 1;}
    60% {opacity: 1;}
    70% {opacity: 0;}
}
@keyframes ad-2{
    70%{opacity: 0;}
    75%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0;}
}


.hero-img img{
    margin-top: 40px;
object-fit: scale-down;
width: 100%;
vertical-align: bottom;

}

.hero-img{
   border-bottom: 2px solid #000;
}

.about-us{
    margin: 24px;
    text-align: center;
}
.about-us-header{
    font-size: 40px;
    
    width: 100%;
   
}

.about-us-text p{
    text-align: center;
    padding-left: 8px;
    padding-right: 8px; 
    font-size: 20px;
}
.about-us-button{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.about-us-button button{
    width: 120px;
    height: 40px;
 border-radius: 24px; 
 background-color: #000;  
 font-weight: 700;
 color: #fff;
 font-size: 16px;   
}
.our-mission{
    text-align: center;
    background-color: #000;
    padding-top: 24px;
    padding-bottom: 32px;
}
.our-mission strong{
    color: #fff;
    font-size: 24px;
}
.our-mission p{
    color: #fff;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.our-mission-button{
    display: flex;
    justify-content: center;
    
}
.our-mission-button button{
    width: 136px;
    height: 48px;
 border-radius: 32px; 
 background-color: #fff;  
 font-weight: 700;
 color: #000;
 font-size: 16px;   
}

.product-card{
    display: flex;
    justify-content: center;
    margin: 24px;
    margin-top: 16px;
    background-color: #fff;
    flex-direction: column;
    box-shadow: 0 0 5px 0 rgba(0,0,0, .1);
    border-radius: 24px;
}
.product-name{
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
    text-align: center;
    font-size: 24px;
    
}
.product-text p{
    text-align: center;
    margin-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
    opacity: .7;
}
.img-box img{
    object-fit: scale-down;
    height: 120px;
    width: 120px;
}
.img-box{
    display: flex;
    justify-content: center;
    padding: 24px;
}
.order-btn{
    width: 120px;
    height: 40px;
 border-radius: 24px; 
 background-color: #000;  
 font-weight: 700;
 color: #fff;
 font-size: 16px;
 
}

.button-box{
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

.footer{
    text-align: center;
   height: 100px;
    background-color: #000;
    opacity: .85;
    color: #fff;
    font-weight: 400;
}
.footer ul{
    list-style: none;
    padding: 8px;
    padding-bottom: 0;
    margin: 0;
}

.footer ul li{
    margin-bottom: 8px;
}
.footer ul li:last-child{
    margin-bottom: 0;
}
.footer ul a{
    color: #fff;
    text-decoration: none;
}